<div class="text-center">
  <h1>All Maps</h1>
</div>
<div class="col-12 p-5 m-1 align-items-center justify-content-center">
  <div class="form-group p-1 m-1">
    <label for="filter">Filter</label>
    <input
      #filter
      type="text"
      class="form-control"
      id="filter"
      placeholder="Filter"
      (input)="updateFilter($event)"
      autocomplete="off"
    />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-6">Name</th>
        <th scope="col" class="col-6">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let map of maps.slice(
            mapsPerPage * (pageNumber - 1),
            mapsPerPage * pageNumber
          )
        "
      >
        <td>
          <a [href]="map.link"><button class="btn">{{ map.mapName }}</button></a>
        </td>
        <td><img style="height: 100px" [src]="map.src" /></td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div
          *ngIf="maps.length > 0"
          class="d-flex justify-content-between align-items-center"
        >
          <button
            class="col btn btn-outline-secondary"
            (click)="decreasePage()"
          >
            &lt;
          </button>
          <div class="col">Page {{ pageNumber }} / {{ totalPages }}</div>
          <button
            class="col btn btn-outline-secondary"
            (click)="increasePage()"
          >
            &gt;
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
