<div class="center text-center m-1 p-1">
  <img
    src="/assets/images/project_emblem.png"
    style="min-height: 120px; max-height: 200px;"
    class="col p-1 m-1"
  />
</div>
<h1>Tradeshow Guidance App Frontend</h1>
<p>
  Welcome to the the admin site for my Final Year Project. This site is used for
  configuring sites for the mobile app.
</p>

<br /><br /><br /><br /><br /><br />
_______________________________________________________________________________________________________________
<br /><br />
<footer>
  <ul>
    <li>
      Created by Paul Caffrey
      <ul>
        <li>
          Contact me at
          <a href="mailto:paulcaff2@gmail.com" target="_blank"
            >paulcaff2@gmail.com</a
          >
        </li>
      </ul>
    </li>
    <br><br>
    <li>
      Supervised by Dr. Cormac Sreenan
      <ul>
        <li>
          Contact him at
          <a href="mailto:cjs@cs.ucc.ie" target="_blank">cjs@cs.ucc.ie</a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
